@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cookie&family=Marck+Script&family=Playball&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cookie&family=Luckiest+Guy&family=Marck+Script&family=Playball&family=Staatliches&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  color: coral;
  /* font-family: 'Staatliches', cursive; */
  font-family: 'Fredoka One', cursive;
}

h6{
  color: coral;
  /* font-family: 'Staatliches', cursive; */
  font-family: 'Fredoka One', cursive;
}
.prof h6{
 
  color: coral;
}
.prof h6 span{
  color: black;
}
.cont-display h6 span{
  color: coral;
}
.cont-display h6{
 
  color: black;
}
.cont-display h2{
  color: coral;
  margin-bottom: 15px;
  font-family: 'Luckiest Guy', cursive;
}
.display{
  position: relative;
  margin: 30px 30px 30px 30px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 2px solid rgba(255, 127, 80, 0.5);
  border-left: 2px solid rgba(	255, 127, 80, 0.5);
  padding: 1rem 3rem 3rem 3rem;
  min-width: 400px;
  min-height: 400px;
}
.cont-display{

  position: relative;
  margin: 30px;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 2px solid rgba(255, 127, 80, 0.5);
  border-left: 2px solid rgba(	255, 127, 80, 0.5);
  padding: 1rem 2rem;
  min-width: 500px;
  min-height: 50px;

}
.prof{
  display: flex;
  align-items: center;
  justify-content: center;
}


.prof-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.phots {
  padding: 10px 15px;
  border: none;
  background-color: coral;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.phots:hover{
  text-decoration: none;
  color: #fff;
}
.name{
  font-size: 30px;
  color: coral;
}
/* .hood-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
} */
.posts {
  padding: 10px 15px;
  border: none;
  background-color: coral;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.posts:hover{
  text-decoration: none;
  color: #fff;
}
.post-img{
  height: 260px;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.post-content{
  display: flex;
  justify-content: space-between;
}
.responsive{
  height: auto;
  width: 100%;
  object-fit: cover;
}
.carol{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}
.cc{
  align-items: center;
  justify-content: center;
}
.cc h3{
  color: coral;
  margin-bottom: 15px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}
.cc p{
  font-size: 22px;
}
.blog-section h2{
  color: coral;
  font-family: 'Fredoka One', cursive;
}

.cards{
  border-radius: 20px;
  padding: 10px;
  font-family: 'Fredoka One', cursive;
  box-shadow: 0 0 10px rgba(112, 108, 108, 0.3), 0 0 20px rgba(112, 108, 108, 0.1), 0 0 40px rgba(112, 108, 108, 0.1);
  margin-left: 2.5rem;
  margin-top: 3rem;

}
.hood-cards{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hood-pic{
  border-radius: 5px;
}