<style>
    .hood-pic{
        width: 350px;
        height: 200px;
        object-fit: cover;
    }
    /* .hood-content{
        gap: 20px;
        
    } */
</style>

{% extends 'base.html'%}

{% block content %}
{{block.super}}

    <div class="container-full container">
        {% for items in hood %}
            <div class="row">
                <div class="col-md-4">
                    <p class="name text-center">{{items.name}}</p>
                    <img src="{{items.hood_image.url}}" alt="" class="hood-pic">

                    <div class="hood-content">
                        {{ items.location }}
                        {{items.members.count}} member{{items.members.count|pluralize}}
                        
                    </div>

                    {% if request.user.profile.neighbourhood == items %}
                    <a href="{% url 'leave-hood' items.id %}" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                    <a href="{% url 'single_hood' items.name %}" class="btn btn-outline-success btn-sm">Enter Hood</a>
                    {% elif not request.user.profile.neighbourhood %}
                    <a href="{% url 'join-hood' items.name %}" class="btn btn-primary btn-sm">Join Hood</a>
                    {% endif %}
                    
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}